<header>

  <nav class="top-nav light-blue lighten-2">

    <div>
      <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>
    </div>

    <div class="container">
      <div class="nav-wrapper">
        <a class="page-title">{{category}}</a>
      </div>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav fixed">
    <li>
      <div class="user-view">
        <div class="background">
          <img class="responsive-img" src="images/wedding-sample.jpg">
        </div>
        <!-- <a><span class="white-text name">{{user.first_name + ' ' + user.last_name}}</span></a> -->
        <a materialize="dropdown" class='dropdown-button btn transparent name' href='#' data-activates='dropdown1'>{{user.first_name + ' ' + user.last_name}}<i class="material-icons right">arrow_drop_down</i> </a>
        <a><span class="white-text email">{{user.email}}</span></a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a [routerLink]="['/login']"><i class="material-icons tiny">cancel</i> salir</a></li>
        </ul>
      </div>

    </li>

    <li *ngFor="let cat of categories" routerLinkActive="active light-blue lighten-4"><a (click)="changeCategory(cat)" routerLink="{{cat.route}}"> <i class="material-icons">{{cat.icon}}</i>{{cat.name}}</a></li>

    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Configuracion</a></li>
  </ul>
</header>

<main>
  <router-outlet></router-outlet>
</main>